body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: flex;
}
section#bouttons{
    flex: 1;
}
section#bouttons+section{
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    text-decoration: none;
}
div.btn{
    width: 80%;
    height: 40px;
    margin: 10px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    color: darkviolet;
    border: 2px solid darkviolet;
}
div.btn:hover{
    cursor: pointer;
}
.buttonActive{
    height: 40px;
    width: 120px;
    font-size: large;
    margin: 10px;
    background-color: greenyellow;
    border-radius: 5px;
}
.visibleBorder{
    border: 3px solid darkviolet;
    padding: 10px;position: relative;
}
.dotedborder{
    border: 1px dotted gray;
    padding: 10px;
    position: relative;
}
span{
    position: absolute;
    color: greenyellow;
    background-color: darkviolet;
    font-size: small;
    height: 20px;
    width: 60px;
    top: -10px;
    right:30px ;
}
.test{
    position: relative;
}
.test p:first-child{
    cursor: pointer;
    opacity: 0;
    transition:opacity .3s;
    position: absolute;
    z-index: -1000;
    border-radius: 5px;
    background-color: darkviolet;
    padding: 10px;
    color: greenyellow;
    font-size: small;
    left: 30px;
    top: 40px;   
}
.dotedborder p{
    padding-top:50px;
    padding-bottom: 50px;
}


@media  screen and (max-width:440px) {
    body{
        font-size: small;
    }
    .test{
        position: initial;
    }
    .test p:first-child{
        cursor: pointer;
        opacity: 1;
        position: initial;
        border-radius: 0px;
        background-color: white;
        color:black;
        font-size: smaller;  
        margin: 0;
        padding-bottom: 0;
        color:grey;
        line-height: 1;
    }
    div.test button{
        margin-top: 1px;
        margin-bottom: 3px;
    }

}
